.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c3, .c4, .c5, .c6, .c7 {
  width: 100%;
}

.c2 {
  width: 0;
  display: none;
}

.c1 .networks, .c1 .form {
  width: 100%;
}

@media (min-width: 500px) {
  .c1 .networks {
    width: 30%;
  }
  .c1 .form {
    width: 70%;
  }
}

@media (min-width: 600px) {
  .c2, .c3, .c4, .c5, .c6 {
    width: 50%;
  }
  .c1, .c6, .c7 {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .c1, .c3, .c5 {
    width: 55%;
  }
  .c2, .c4 {
    width: 45%;
  }
  .c7, .c7 {
    width: 100%;
  }
  .c2 {
    display: block;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 1018px;
    margin-left: auto;
    margin-right: auto;
  }
}